.header {
  display: flex;
  .left {
    left: 0;
    Button {
      width: 60px;
    }
  }
  .right {
    position: absolute;
    right: 36px;
    .options {
      margin-right: 20px;
      width: 220px;
    }
  }
}

//表格
.table {
  .ant-table-cell {
    padding: 8px 16px;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: none;
  }

  .ant-table-pagination > * {
    border-radius: 5px;
  }

  .ant-pagination-item-active {
    background-color: #1890ff;
  }

  .ant-pagination-item-active a {
    color: #fff;
  }

  // 总数据靠左
  .ant-pagination-total-text {
    position: absolute;
    left: 0;
  }
}

.ant-form-item {
  padding-left: 80px;
  .ant-form-item-label {
    text-align: left;
  }
}

.founder {
  border-radius: 50%;
}
